<div class="page-wrapper" id="main-wrapper" data-theme="blue_theme"  data-layout="vertical" data-sidebartype="full" data-sidebar-position="fixed" data-header-position="fixed">
  <!-- navigation -->
  <app-sidebar></app-sidebar>
  <app-horizontalbar></app-horizontalbar>

    <div class="container">
      <div class="contenu">

        <div class="card bg-light-info shadow-none position-relative overflow-hidden">
          <div class="card-body px-4 py-3">
            <div class="row align-items-center">
              <div class="col-9">
                <h4 class="fw-semibold mb-8">Unité de travail</h4>
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                      <a class="text-muted" routerLink="/uniteTrav"><i class="fa-solid fa-arrow-left"></i></a>
                    </li>
                    <li class="breadcrumb-item" aria-current="page"><i>Modifier unite travail</i></li>
                  </ol>
                </nav>
              </div>
              <div class="col-3">
                <div class="text-center mb-n5">
                  <img src="assets/dist/images/breadcrumb/ChatBc.png" alt="" class="img-fluid mb-n4">
                </div>
              </div>
            </div>
          </div>
        </div>

          <!-- formulaire d'ajout équipement -->
          <div class="card">
            <div class="card-body">
              <h5 class="mb-3">Informations sur l'unité de travail</h5>
              <form (ngSubmit)="save()" #updateUnit="ngForm">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-floating">
                      <input type="text" class="form-control" id="name" placeholder="name"
                      [(ngModel)]="unite.nom_UT" name="nom"
                      #nomUt = "ngModel"
                     [ngClass]="{'is-invalid': nomUt.touched && !nomUt.valid}"
                     required
                      />
                      <label for="name">Nom de l'unité</label>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-floating">
                      <!-- <label for="docU">Document unique</label> -->
                      <select class="form-select" aria-label="Default select example"
                      [(ngModel)]="unite.id_DocU" name="doc"
                      #idut = "ngModel"
                     [ngClass]="{'is-invalid': idut.touched && !idut.valid}"
                     required
                      >
                      <option disabled>Choisir le DUER</option>
                      <option *ngFor="let docU of docUList" [value]="docU.id">{{docU.nom_DocU}}</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="d-md-flex align-items-center mt-3">

                      <div class="ms-auto mt-3 mt-md-0">
                        <button type="submit" [disabled]="!updateUnit.form.valid" class="btn btn-info font-medium rounded-pill px-4" >
                            Enregister
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <div *ngIf="msg" class="alert alert-success">
                  {{ msg }}
                </div>
              </form>
            </div>
          </div>

      </div>
    </div>
</div>
