<aside class="left-sidebar">
  <!-- Sidebar scroll-->
  <div>
    <div class="brand-logo d-flex align-items-center justify-content-between">
      <a routerLink="/home" class="text-nowrap logo-img">
        <img src="https://demos.adminmart.com/premium/bootstrap/modernize-bootstrap/package/dist/images/logos/dark-logo.svg" class="dark-logo" width="180" alt="" />
        <!-- <img src="https://demos.adminmart.com/premium/bootstrap/modernize-bootstrap/package/dist/images/logos/light-logo.svg" class="light-logo"  width="180" alt="" /> -->
      </a>
      <div class="close-btn d-lg-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
        <i class="ti ti-x fs-8"></i>
      </div>
    </div>
    <!-- Sidebar navigation-->
    <nav class="sidebar-nav scroll-sidebar" data-simplebar>
      <ul id="sidebarnav">
        <!-- ============================= -->
        <!-- Home -->
        <!-- ============================= -->
        <li class="nav-small-cap">
          <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
          <span class="hide-menu">----</span>
        </li>
        <!-- =================== -->
        <!-- Dashboard -->

        <!-- home -->
      <li class="sidebar-item">
        <a class="sidebar-link" routerLink="/home" routerLinkActive="activebutton" ariaCurrentWhenActive="page" aria-expanded="false">
          <span>
            <!-- <i class="fa-solid fa-house-user"></i> -->
            <img src="assets/dist/images/ico/accueil.ico" alt="Accueil" style="width: 25px; height: 25px;">
          </span>
          <span class="hide-menu">Accueil</span>
        </a>
      </li>
      <!-- ================= -->

      <!-- acc / inc -->
      <li class="sidebar-item">
        <a class="sidebar-link" routerLink="/acc_inc" routerLinkActive="activebutton" ariaCurrentWhenActive="page" aria-expanded="false">
          <span>
            <!-- <i class="fa-solid fa-person-falling-burst"></i> -->
            <img src="assets/dist/images/ico/accident.ico" alt="Accident" style="width: 25px; height: 25px;">
          </span>
          <span class="hide-menu">Acc / Inc</span>
        </a>
      </li>
      <!-- ================= -->

      <!-- Equipement -->
      <li class="sidebar-item">
        <a class="sidebar-link" routerLink="/equipement" routerLinkActive="activebutton" ariaCurrentWhenActive="page" aria-expanded="false">
          <span>
            <!-- <i class="fa-solid fa-toolbox"></i> -->
            <img src="assets/dist/images/ico/equipement.ico" alt="" style="width: 25px; height: 25px;">
          </span>
          <span class="hide-menu">Equipement</span>
        </a>
      </li>
      <!-- ================== -->

      <!-- SD -->
      <li class="sidebar-item">
        <a class="sidebar-link" routerLink="/SD" routerLinkActive="activebutton" ariaCurrentWhenActive="page" aria-expanded="false">
          <span>
            <!-- <i class="fa-solid fa-triangle-exclamation"></i> -->
            <img src="assets/dist/images/ico/alerte.ico" alt="" style="width: 25px; height: 25px;">
          </span>
          <span class="hide-menu">Situation Dangereuse</span>
        </a>
      </li>
      <!-- ======================== -->

      <!-- RP -->
      <li class="sidebar-item">
        <a class="sidebar-link" routerLink="/RP" routerLinkActive="activebutton" ariaCurrentWhenActive="page" aria-expanded="false">
          <span>
            <!-- <i class="fa-solid fa-person-running"></i> -->
            <img src="assets/dist/images/ico/identification.ico" alt="" style="width: 25px; height: 25px;">
          </span>
          <span class="hide-menu">Risques prévisibles</span>
        </a>
      </li>
      <!-- ===================== -->

      <!-- Dotation -->
      <li class="sidebar-item">
        <a class="sidebar-link" routerLink="/dotation" routerLinkActive="activebutton" ariaCurrentWhenActive="page" aria-expanded="false">
          <span>
            <i class="fa-solid fa-arrows-rotate"></i>
          </span>
          <span class="hide-menu">Dotation</span>
        </a>
      </li>
      <!-- ===================== -->

      <!-- plan de prévention -->
      <li class="sidebar-item">
        <a class="sidebar-link" routerLink="/PPR" routerLinkActive="activebutton" ariaCurrentWhenActive="page" aria-expanded="false">
          <span>
            <!-- <i class="fa-solid fa-arrows-rotate"></i> -->
            <img src="assets/dist/images/ico/prevention.ico" alt="" style="width: 25px; height: 25px;">
          </span>
          <span class="hide-menu">Plan de Prévention</span>
        </a>
      </li>
      <!-- ===================== -->

      <!-- DUER -->
      <li class="sidebar-item">
        <a class="sidebar-link" routerLink="/DUER" routerLinkActive="activebutton" ariaCurrentWhenActive="page" aria-expanded="false">
          <span>
            <!-- <i class="fa-solid fa-arrows-rotate"></i> -->
            <img src="assets/dist/images/ico/valider.ico" alt="" style="width: 25px; height: 25px;">
          </span>
          <span class="hide-menu">DUER</span>
        </a>
      </li>
      <!-- ===================== -->

<!-- ============================================================= -->


      </ul>

    </nav>
    <!-- End Sidebar navigation -->
  </div>
  <!-- End Sidebar scroll-->
</aside>
