<div class="page-wrapper" id="main-wrapper" data-theme="blue_theme"  data-layout="vertical" data-sidebartype="full" data-sidebar-position="fixed" data-header-position="fixed">
  <!-- navigation -->
    <app-sidebar></app-sidebar>
    <app-horizontalbar></app-horizontalbar>

    <div class="container">
      <div class="contenu" *ngIf="accinc">

        <div class="card bg-light-info shadow-none position-relative overflow-hidden">
          <div class="card-body px-4 py-3">
            <div class="row align-items-center">
              <div class="col-9">
                <h4 class="fw-semibold mb-8">ACCIDENT / INCIDENT</h4>
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                      <a class="text-muted" routerLink="/acc_inc"><i class="fa-solid fa-arrow-left"></i></a>
                    </li>
                    <li class="breadcrumb-item" aria-current="page"><i>DMODIFIER UN ACCIDENT / INCIDENT</i></li>
                  </ol>
                </nav>
              </div>
              <div class="col-3">
                <div class="text-center mb-n5">
                  <img src="assets/dist/images/breadcrumb/ChatBc.png" alt="" class="img-fluid mb-n4">
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- <P class="text-center">(Ce formulaire est à remplir immédiatement après l'{{accinc.nom_AccInc}})</P> -->
      <form novalidate (ngSubmit)="save()" #updatedForm = "ngForm">
        <div class="form-group">
          <!-- choix d'accident / incident start  -->
          <div class="row mt-5 mb-3">

              <div class="col-md-6">
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" [(ngModel)]="accinc.type" value="accident" required
                  #AccincN = "ngModel"
                  [ngClass]="{'is-invalid': AccincN.touched && !AccincN.valid}">
                  <label class="form-check-label form-label" for="exampleRadios1">
                    ACCIDENT
                  </label>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" [(ngModel)]="accinc.type" value="incident" required
                  #AccincN = "ngModel"
                  [ngClass]="{'is-invalid': AccincN.touched && !AccincN.valid}">
                  <label class="form-check-label form-label" for="exampleRadios2">
                    INCIDENT
                  </label>
                </div>
              </div>
          </div>
          <!-- choix d'accident / incident End  -->

          <!-- ligne horizontale  -->
          <div class="border-bottom mb-4"></div>
          <p><i>Renseignements sur la victime</i></p>

          <!-- renseignements sur la victime start -->
          <div class="row mb-3">
            <!-- info perso start -->
            <div class="col">
              <div class="row">
                <div class="col-md-6 mb-2">
                  <div class="form-group">
                    <label for="nomV" class="form-label">Nom </label>
                    <input id="nomV" type="text" class="form-control" [(ngModel)]="accinc.victime" name="nomV" placeholder="Nom et prénom de la victime" required
                    #victimeName = "ngModel"
                    [ngClass]="{'is-invalid': victimeName.touched && !victimeName.valid}">
                  </div>
                </div>

                <div class="col-md-6 mb-2">
                  <div class="form-group">
                    <label for="matricule" class="form-label">Matricule</label>
                    <input id="matricule" type="text" class="form-control" [(ngModel)]="accinc.matricule" name="matricule" placeholder="Matricule" required
                    #matriV = "ngModel"
                    [ngClass]="{'is-invalid': matriV.touched && !matriV.valid}">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="service" class="form-label">Service</label>
                    <input id="service" type="text" class="form-control" [(ngModel)]="accinc.service" name="service" placeholder="Service" required
                    #serviceV = "ngModel"
                    [ngClass]="{'is-invalid': serviceV.touched && !serviceV.valid}">
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="form-group">
                    <label for="poste" class="form-label">Poste</label>
                    <input id="poste" type="text" class="form-control" [(ngModel)]="accinc.poste" name="poste" placeholder="Poste" required
                    #posteV = "ngModel"
                    [ngClass]="{'is-invalid': posteV.touched && !posteV.valid}">
                  </div>
                </div>
              </div>
            </div>
            <!-- info perso end -->

            <!-- type de contrat start -->
            <div class="col text-center">
              <label for="contrat" class="form-label">Type de contrat</label>
              <select id="contrat" class="form-select" aria-label="Default select example" [(ngModel)]="accinc.contract" name="typeContrat" required
              #contratV = "ngModel"
              [ngClass]="{'is-invalid': contratV.touched && !contratV.valid}">
                <option value="" disabled>--- Type de contrat ---</option>
                <option value="CDD">CDD</option>
                <option value="CDI">CDI</option>
                <option value="Intérimaire">Intérimaire</option>
                <option value="Stagiaire">Stagiaire</option>
              </select>
            </div>
            <!-- type de contrat end -->

          </div>
          <!-- renseignements sur la victime end -->

          <!-- ligne horizontale  -->
          <div class="border-bottom mb-3"></div>
        </div>
        <!-- Renseignements sur l'accident/incident -->
        <p><i>Renseignements sur l'{{accinc.type}}</i></p>

        <div class="row mb-3">
          <!-- hhhhhhh -->
              <div class="row">
                <div class="col-md-6 form-group mb-2">
                  <label for="nature" class="form-label">Nature</label>
                  <select id="nature" class="form-select" aria-label="Default select example" [(ngModel)]="accinc.nature" name="nature" required
                  #natureV = "ngModel"
                  [ngClass]="{'is-invalid': natureV.touched && !natureV.valid}">
                    <option value="" disabled>--- Nature de l'accident ---</option>
                    <option value="Poste">Poste</option>
                    <option value="Trajet">Trajet</option>
                    <option value="Autre">Autre</option>
                  </select>
                </div>

                <div class="col-md-6 form-group mb-2">
                  <label for="date" class="form-label">Date</label>
                  <input type="date" class="form-control" id="date" [(ngModel)]="accinc.dateAccident" name="date" required
                  #dateV = "ngModel"
                  [ngClass]="{'is-invalid': dateV.touched && !dateV.valid}">
                </div>

              <div class="col-md-6 form-group mb-2">
                  <label for="heure" class="form-label">Heure</label>
                  <input type="time" class="form-control" id="heure" [(ngModel)]="accinc.timeAccident" name="heure" required
                  #timeV = "ngModel"
                  [ngClass]="{'is-invalid': timeV.touched && !timeV.valid}">
              </div>

              <div class="col-md-6 form-group mb-2">
                  <label for="lieu" class="form-label">Lieu</label>
                  <input type="text" class="form-control" [(ngModel)]="accinc.locationAccident" name="lieu" id="lieu" placeholder="Entrez le lieu" required
                  #tacheV = "ngModel"
                  [ngClass]="{'is-invalid': tacheV.touched && !tacheV.valid}">
              </div>

              <div class="col-md-6 form-group mb-2">
                <label for="tache" class="form-label">Tâche en cours</label>
                <input type="text" class="form-control" [(ngModel)]="accinc.task" name="tache" id="tache" placeholder="Tâche ">
            </div>

            <div class="col-md-6 form-group mb-2">
              <label for="consequence" class="form-label">Conséquence</label>
              <select id="consequence" class="form-select" aria-label="Default select example" [(ngModel)]="accinc.consequence" name="consequence" required
              #consV = "ngModel"
              [ngClass]="{'is-invalid': consV.touched && !consV.valid}">
                <option value="" disabled>--- choisir la conséquence ---</option>
                <option value="Poste">Arrêt des travaux</option>
                <option value="Sans arrêt">Sans arrêt</option>
                <option value="Décès">Décès</option>
                <option value="Autre">Autre</option>
              </select>
            </div>

            <div class="col-md-6 form-group mb-2">
              <label for="dommage" class="form-label">Dommage</label>
              <select id="dommage" class="form-select" aria-label="Default select example" [(ngModel)]="accinc.dommage" name="dommage" required
              #domV = "ngModel"
              [ngClass]="{'is-invalid': domV.touched && !domV.valid}">
                <option value="" disabled>--- Choisir le dommage ---</option>
                <option value="Matériel">Matériel</option>
                <option value="Humain">Humain</option>
                <option value="Matériel et Humain">Matériel et Humain</option>
                <option value="Aucun">Aucun</option>
              </select>
            </div>

            </div>
          <!-- hhhhhhh -->

        </div>


        <div class="form-group mb-4">
          <label for="description" class="form-label">Description</label>
          <textarea class="form-control" [(ngModel)]="accinc.description" name="description" id="description" rows="3" placeholder="Entrez une description " required
          #descrV = "ngModel"
          [ngClass]="{'is-invalid': descrV.touched && !descrV.valid}"></textarea>
        </div>

        <!-- mesures prises et identification témoin -->
        <p><i>Mesures prises et identification d'un témoin</i></p>

        <div class="row mb-3">
              <div class="row">
                <div class="col-md-6 form-group mb-2">
                    <label for="mesuresPrises" class="form-label">Mesures prises à l'immédiat</label>
                    <input type="text" class="form-control" [(ngModel)]="accinc.measure" name="mesuresPrises" id="mesuresPrises" required
                    #mpV = "ngModel"
                    [ngClass]="{'is-invalid': mpV.touched && !mpV.valid}">
                </div>

                <div class="col-md-6 form-group mb-2">
                    <label for="temoin" class="form-label">Nom et prénom du témoin</label>
                    <input type="text" class="form-control" [(ngModel)]="accinc.witness" name="temoin" id="temoin" required
                    #temoinV = "ngModel"
                    [ngClass]="{'is-invalid': temoinV.touched && !temoinV.valid}">
                </div>

              </div>

        </div>



        <button type="submit" [disabled]="!updatedForm.form.valid" class="btn btn-primary">Modifier</button>
      </form>

      <span *ngIf="msg" class="text-success">{{msg}}</span>

      <!-- =========== -->

      </div>
    </div>
</div>








