<div class="page-wrapper" id="main-wrapper" data-theme="blue_theme" data-layout="vertical" data-sidebartype="full" data-sidebar-position="fixed" data-header-position="fixed">
    <!-- navigation -->
    <app-sidebar></app-sidebar>
    <app-horizontalbar></app-horizontalbar>
  
    <div class="container">
      <div class="contenu">
  
        <div class="card bg-light-info shadow-none position-relative overflow-hidden">
          <div class="card-body px-4 py-3">
            <div class="row align-items-center">
              <div class="col-9">
                <h4 class="fw-semibold mb-8">DUER</h4>
              </div>
              <div class="col-3">
                <div class="text-center mb-n5">
                  <img src="assets/dist/images/breadcrumb/ChatBc.png" alt="" class="img-fluid mb-n4">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card w-100 position-relative overflow-hidden">
          <div class="px-4 py-3 border-bottom col">
            <div class="row">
              <div class="col">
                <a routerLink="/" class="btn btn-outline-info mx-1">
                  <i class="fa-solid fa-plus me-2"></i> Ajouter un DUER
                </a>
              </div>
              <div class="col-5">
                <div class="input-group">
                  <input type="text" class="form-control mx-1" placeholder="Rechercher ..." #searchDec>
                  <div class="input-group-append">
                    <button class="btn btn-primary" type="button">Rechercher</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
                <!-- <p *ngIf="msg" class="alert alert-success">{{ msg }}</p>
                <p *ngIf="errorMsg" class="alert alert-danger">{{ errorMsg }}</p> -->
          <div class="card-body p-4">
            <div class="table-responsive rounded-2 mb-4 table-wrapper">
              <!-- tableau d'UT -->
              <table class="table border text-nowrap customize-table mb-0 align-middle">
                <thead class="text-dark fs-4">
                  <tr>
                    <th><h6 class="fs-4 fw-semibold mb-0">#</h6></th>
                    <th><h6 class="fs-4 fw-semibold mb-0">DUER</h6></th>
                    <th><h6 class="fs-4 fw-semibold mb-0">Action</h6></th>
                  </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let docU of docUList; let i = index">
                        <td>{{i+1}}</td>
                        <td>
                            <a class="text-muted" href="javascript:void(0)">
                               {{docU.nom_DocU}}
                            </a>
                        </td>
                        <td>
                            <button type="button" class="btn btn-outline-success">Success</button>
                        </td>
                    </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  
</div>
  