<div class="page-wrapper" id="main-wrapper" data-theme="blue_theme" data-layout="vertical" data-sidebartype="full" data-sidebar-position="fixed" data-header-position="fixed">
  <app-horizontalbar></app-horizontalbar>
  <!-- <app-sidebar></app-sidebar> -->

  <br><br><br>
  <!-- Texte centré avant le tableau -->
  <div class="text-center mt-2 mb-4">
    <h2>DOCUMENT UNIQUE D'EVALUATION DES RISQUES (DUER)</h2>
  </div>

  <table class="table mx-4" *ngFor="let task of tasksWithDangers; let i=index">
    <thead class="text-dark fs-4 p-3 mb-2 bg-secondary text-white">
      <tr>
        <th colspan="8">{{getUniteTravName(task.id_UT)}}</th>
      </tr>
      <tr>
        <th><h6 class="fs-4 fw-semibold mb-0">#</h6></th>
        <th><h6 class="fs-4 fw-semibold mb-0">Tâche</h6></th>
        <th><h6 class="fs-4 fw-semibold mb-0">Dangers</h6></th>
        <th><h6 class="fs-4 fw-semibold mb-0">Risques</h6></th>
        <th><h6 class="fs-4 fw-semibold mb-0">Fréquence</h6></th>
        <th><h6 class="fs-4 fw-semibold mb-0">Gravité</h6></th>
        <th><h6 class="fs-4 fw-semibold mb-0">Priorité</h6></th>
        <th><h6 class="fs-4 fw-semibold mb-0">Mesures préventives</h6></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{i + 1}}</td>
        <td class="mb-2">{{task.nom}}</td>
        <!-- <td>{{getUniteTravName(task.id_UT)}}</td> -->
        <td>
          <ul *ngFor="let danger of task.dangers" class="mb-5">
            <li>{{danger.label}}</li>
          </ul>
        </td>
        <td>
          <ul *ngFor="let danger of task.dangers">
            <li *ngFor="let risk of danger.risques"><b>{{risk.nomR}}</b></li>
          </ul>
        </td>
        <td>
          <ul *ngFor="let danger of task.dangers">
            <li *ngFor="let risk of danger.risques"><b>{{risk.frequence}}</b></li>
          </ul>
        </td>
        <td>
          <ul *ngFor="let danger of task.dangers">
            <li *ngFor="let risk of danger.risques"><b>{{risk.gravity}}</b></li>
          </ul>
        </td>
        <td>
          <ul *ngFor="let danger of task.dangers">
            <li *ngFor="let risk of danger.risques" [class]="getPriorityColor(risk.frequence, risk.gravity)">_</li>
          </ul>
        </td>
        <td>
          <ul *ngFor="let danger of task.dangers">
            <li *ngFor="let risk of danger.risques" class="task-cell"><b>{{risk.preventiveMes}}</b></li>
          </ul>
        </td>
        
      </tr>
    </tbody>
  </table>
</div>
