
<div class="page-wrapper" id="main-wrapper" data-theme="blue_theme"  data-layout="vertical" data-sidebartype="full" data-sidebar-position="fixed" data-header-position="fixed">
  <!-- navigation -->
  <app-sidebar></app-sidebar>
  <app-horizontalbar></app-horizontalbar>

    <div class="container">
      <div class="contenu">

        <div class="card bg-light-info shadow-none position-relative overflow-hidden">
          <div class="card-body px-4 py-3">
            <div class="row align-items-center">
              <h4 class="fw-semibold mb-8 text-center">FICHE DE DOTATION</h4>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-body">
            <h5 class="mb-3">Informations sur la dotation</h5>
            <form>
              <div class="row">
                <div class="col-md-6">
                    <label for="Service" class="form-label">Service</label>
                    <p>Service_name</p>
                </div>
                <div class="col-md-6">
                  <label for="name" class="form-label">Nom (s) et prenom (s)</label>
                  <p>nom et prenom du bénéficiaire</p>
                 </div>

                <div class="col-md-6">
                    <label for="fonction" class="form-label">fonction</label>
                    <p>Fonction du bénéficiaire</p>
                </div>

                <div class="col-md-6">
                    <label for="metier" class="form-label">metier</label>
                    <p>Metier du bénéficiaire</p>
                </div>

                <div class="col lg mb-5">
                  <label for="equipement" class="form-label"><b>Equipement (s)</b></label>
                  <ul class="list-group">
                    <li class="list-group-item">An item</li>
                    <li class="list-group-item">A second item</li>
                    <li class="list-group-item">A third item</li>
                    <li class="list-group-item">A fourth item</li>
                    <li class="list-group-item">And a fifth one</li>
                  </ul>
                </div>

                <p>
                  Cette dotation en Eqipements de Protection Individuelle(EPI) vous est fournie personellement par l'entreprise <b>Nom de l'entreprise</b> sur la base de l'identification des risques auxquels sont exposés les employés.
                </p>



                <div class="col-12">
                  <div class="d-md-flex align-items-center mt-3">

                    <div class="ms-auto mt-3 mt-md-0">
                      <button type="submit" class="btn btn-info font-medium rounded-pill px-4" >
                        <div class="d-flex align-items-center">
                          Effectuer
                        </div>
                      </button>
                    </div>


                    <!-- <div *ngIf="dotation">
                      <h3>Dotation</h3>
                      <p>ID: {{ dotation.id }}</p>
                      <p>Date: {{ dotation.date }}</p>
                      <p>Bénéficiare: {{ dotation.nom_beneficiaire }}</p>
                      <p>Service: {{ dotation.service }}</p>
                      <p>Fonction: {{ dotation.fonction }}</p>
                      <p>Metier: {{ dotation.metier }}</p>
                      <p>DateR: {{ dotation.dateR }}</p>

                      <h3>Equipements</h3>
                      <div *ngFor="let equipement of equipements">
                        <p>Abreviation: {{ equipement.abreviation }}</p>
                        <p>Désignation: {{ equipement.designation }}</p>
                        <p>Utilité: {{ equipement.Utility }}</p>
                        <p>Quantité: {{ equipement.Quantite }}</p>
                      </div>
                    </div> -->

                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
    </div>
</div>
