<div class="page-wrapper" id="main-wrapper" data-theme="blue_theme"  data-layout="vertical" data-sidebartype="full" data-sidebar-position="fixed" data-header-position="fixed">
  <!-- navigation -->
  <app-sidebar></app-sidebar>
  <app-horizontalbar></app-horizontalbar>

    <div class="container">
      <div class="contenu">

        <div class="card bg-light-info shadow-none position-relative overflow-hidden">
          <div class="card-body px-4 py-3">
            <div class="row align-items-center">
              <div class="col-9">
                <h4 class="fw-semibold mb-8">Risques prévisibles</h4>
              </div>
              <div class="col-3">
                <div class="text-center mb-n5">
                  <img src="assets/dist/images/breadcrumb/ChatBc.png" alt="" class="img-fluid mb-n4">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card w-100 position-relative overflow-hidden">
          <div class="px-4 py-3 border-bottom col">
            <div class="row">
              <div class="col">
                <a type="button" routerLink="/RP/nv_risque" class="btn btn-outline-primary mx-1 "><i class="fa-solid fa-plus me-2"></i>Enregistrer risque</a>
              </div>
            <!-- zone de recherche -->
                <div class="col-5">
                  <div class="input-group">
                    <input type="text" class="form-control mx-1" placeholder="Rechercher un risq...">
                    <div class="input-group-append">
                      <button class="btn btn-primary" type="button">Rechercher</button>
                    </div>
                  </div>
                </div>
            </div>
            <!-- ========================== -->
          </div>
          <div class="card-body p-4">
              <div class="table-responsive rounded-2 mb-4">
                <!-- tableau de risque -->
                <table class="table border text-nowrap customize-table mb-0 align-middle">
                  <thead class="text-dark fs-4">
                    <tr>
                      <th><h6 class="fs-4 fw-semibold mb-0">Situation Dangereuse</h6></th>
                      <th><h6 class="fs-4 fw-semibold mb-0">Risque prévisible </h6></th>
                      <th><h6 class="fs-4 fw-semibold mb-0">Fréquence (F) </h6></th>
                      <th><h6 class="fs-4 fw-semibold mb-0">Gravité (G) </h6></th>
                      <th><h6 class="fs-4 fw-semibold mb-0">Priorité </h6></th>
                      <th><h6 class="fs-4 fw-semibold mb-0">Action</h6></th>
                    </tr>
                  </thead>
                  <tbody>
                    <!-- <tr *ngFor="let situation of situationDList"> -->
                    <tr *ngFor="let situation of situationDList">
                      <td>
                        <b>{{situation.libelle}}</b>
                      </td>
                      <!-- <td *ngFor="let risk of situation.risques"> -->
                        <td>
                          <p class="mb-2 fw-normal" *ngFor="let risk of situation.risques">
                            <a routerLink="/RP/edit_risq/{{situation.id}}/{{risk.id}}">{{risk.nomR}}</a>
                          </p>
                        </td>

                      <td>
                        <tr><p class="mb-2 fw-normal" *ngFor="let risk of situation.risques">{{risk.frequence}}</p></tr>
                      </td>

                      <td>
                        <tr><p class="mb-2 fw-normal" *ngFor="let risk of situation.risques">{{risk.gravity}}</p></tr>
                      </td>
                      <td ><p class="mb-2 fw-normal" *ngFor="let risk of situation.risques">Elevé</p></td>
                      <td>
                        <tr *ngFor="let risk of situation.risques">
                          <a class="align-items-center gap-3" href="#"><i class="fs-4 ti ti-trash"></i></a>
                        </tr>
                      </td>

                      <!-- <ng-container *ngFor="let risk of situation.risques">
                        <tr>
                          <td><a routerLink="/RP/edit_risq/{{situation.id}}/{{risk.id}}">{{risk.nomR}}</a></td>
                          <td>{{risk.frequence}}</td>
                          <td>{{risk.gravity}}</td>
                          <td>Élevé</td>
                          <td><a class="align-items-center gap-3" href="#"><i class="fs-4 ti ti-trash"></i></a></td>
                        </tr>
                      </ng-container> -->
                    </tr>




                  </tbody>
                </table>
                <!-- ================================== -->

              </div>
          </div>
        </div>

      </div>
    </div>
</div>
